


*{

background-color: white;
box-sizing: border-box;
}





.headnav {
    margin-left: 30px;
}

.heading1{
    color: blue;
    font-size: 50px; 
       
}

.home{
    height: 300px;
    display: flex;
    padding: 100px


}


.home .R-div {
    margin-left: 30px;
    margin-top: 70px;
    
}


.R-div p{
    color: gray;
    size: 50px;
}


 

.home .l-div {
padding-left: 200px;
}


.home .R-div button{
    margin: 10px;
    border-radius: 12px;
}

button {
    border-radius: 4px;
    background-color: #5ca1e1;
    border: none;
    color: #fff;
    text-align: center;
    font-size: 32px;
    padding: 16px;
    width: 250px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 36px;
    box-shadow: 0 10px 20px -8px rgba(0, 0, 0,.7);
  }
  
  button{
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  button:after {
    content: '»';
    position: absolute;
    opacity: 0;  
    top: 14px;
    right: -20px;
    transition: 0.5s;
  }
  
  button:hover{
    padding-right: 24px;
    padding-left:8px;
  }
  
  button:hover:after {
    opacity: 1;
    right: 10px;
  }


.skills{
    height: 600px;

    display: flex;
}

.skills > div {
    
    width: 100%;
}


.leftskill{
    margin-top: 220px;
    margin-left: -50px;
}

.rightskill{
    margin-left: 10px;
    margin-top: 350px;
    justify-content: center;
}

.rightskill > h4, p

{
    
    color: black;
}

.icon{
    display: flex;
    
}

.icon h1 {

    margin-left: 20px;
    font-size: 60px;
    color: grey;

}

.icon h1:hover {
    color: orange;
    transition: color .5s;

}

.profi{
    display: flex;
    margin-top: 200px;
    height: 600px;
    width: 100%;
}

.rightpro{
margin-left: 100px;
margin-top: 110px;
    flex: 1;
}

.leftpro{
    margin-left: 10px;
    justify-content: center;
}

.prograsb{
    width: 74%;
}

.prograsb:hover{
    width: 95%;
     transition: width 5.s;
      }

.Educat {
    
    margin-left: 50px ;
    color: black ;

}

hr.solid {
    border: 3px solid grey;
    width: 80%;
    margin-left: 50px;
  }

  hr.solid:hover{
width: 95%;
 border: 3px solid#0087ca;
 transition: width 2s;
  }

.educat2{
    margin-top: 40px;
    margin-left: 50px;;
    
}

.Experience{
    margin-left: 50px;
    margin-top: 100px;
}

.card{
    width:  45rem;
    text-align: center;
    margin-left: 40px;
}

.Excard{
    display: flex;
}

.carddown{
    background-color: #691708;
    width: 100%;
    height: 200px;
}

.carddown h1 {
    background-color: #691708;
    color: white;
    margin-top: 80px;
}

.card
{
    border-radius: 10px;
}