*{

background-color: white;
}




.headnav {
    margin-left: 30px;
}

.heading1{
    color: blue;
    font-size: 50px; 
       
}

.home{
    height: 300px;
    display: flex;
    padding: 100px


}


.home .R-div {
    margin-left: 30px;
    margin-top: 70px;
}

.R-div p{
    color: gray;
}

.home .l-div {
padding-left: 200px;
}


.home .R-div button{
    margin: 10px;
    border-radius: 12px;
}


.skills{
    height: 600px;

    display: flex;
}

.skills > div {
    
    width: 100%;
}


.leftskill{
    margin-left: 50px;
    margin-top: 220px;
}

.rightskill{
    margin-left: 10px;
    margin-top: 350px;
    justify-content: center;
}

.rightskill > h4, p

{
    
    color: gray;
}

.icon{
    display: flex;
    
}

.icon h1 {

    margin-left: 20px;
    font-size: 60px;
    color: grey;

}

.icon h1:hover {

color: orange;

}